body {
    background-color: #ebecf6;
}

label {
    font-weight: bold;
    font-size: 20px;
    color: #648dc7;
    padding-bottom: 5px;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

input[type=number] {
    height: 20px;
    border-radius: 10px;
    width: 15%;
    outline: none;
    text-align: center;
}

input[type=submit] {
    height: 40px;
    width: 120px;
    background-color: #f3b044;
    font-weight: bold;
    color: #FFF;
    border: 1px solid #f3b044;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    display: block;
    margin: 0 auto;
}

input[type=submit]:hover {
    background-color: transparent;
    color: #f3b044;
    border: 1px solid #f3b044;

}

form {
    width: 300px;
    margin: 100px auto;
    background-color: #FFF;
    padding: 20px;
    border-radius: 20px;
}

.titulo h1 {
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;

}

h3 {
    color: orange;
    font-size: 25px;
}

#resultado {
    width: 300px;
    margin: 100px auto;
    background-color: #FFF;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

a {
    font-size: 20px;
    font-weight: bold;
    color: #f3b044;
}